.App-header {
  color: white;
}

#nav-wrapper {
  display: flex;
  background-color: #2196f3;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

#left-nav {
  display: flex;  
  align-items: center;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 10px;
}

#activity-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 10px 20px;
  max-height: 23px;
  align-items: center;
  background-color: #34495e;
}

#search-input {
  display: flex;
  align-items: center;
  border-radius: 2px;
  padding: 0 10px; 
  height: 25px;
  position: relative;
}

#search-input input {
  border-radius: 2px;
  background: white;
  padding-left: 8px;
}

#search-input svg {
    position: absolute;
    right: 20px;
}